{% assign a = site.author %}
<p class="links">
  {% if a.email %}<a href="mailto:{{ a.email }}">Email</a>{% endif %}
  {% if a.googlescholar %}<a href="{{ a.googlescholar }}">Google Scholar</a>{% endif %}
  {% if a.semantic %}<a href="{{ a.semantic }}">Semantic Scholar</a>{% endif %}
  {% if a.github %}<a href="https://github.com/{{ a.github }}">GitHub</a>{% endif %}
  {% if a.linkedin %}<a href="https://www.linkedin.com/in/{{ a.linkedin }}">LinkedIn</a>{% endif %}
  <a href="https://www.lesswrong.com/users/daniele-poterti-1">LessWrong</a>
  {% if a.twitter %}<a href="https://x.com/{{ a.twitter }}">X</a>{% endif %}
</p>
